.footer {
  display: flex;
  flex-direction: column;
  background: var(--g13);
  align-items: center;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.footer p {
  font: 500 1rem/1.1 "Inter", sans-serif;
  color: var(--g6);
  margin-top: 40px;
}