:root {
  --g1: #FFFFFF;
  --g2: #F7F7F7;
  --g3: #EDEDED;
  --g4: #DEDEDE;
  --g5: #CCCCCC;
  --g6: #B2B2B2;
  --g7: #9C9C9C;
  --g8: #717171;
  --g9: #595959;
  --g10: #404040;
  --g11: #2e2e2e;
  --g12: #111111;
  --g13: #000000;
  --ora: #F93F19;
  --gre: #05653E;
  --blu: #4E83F8;
  --yel: #FEA900;
}

body,
h1,
h2,
h3,
button,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  background: var(--g11);
  box-sizing: border-box;
  font-family: "Inter";
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  transition: 0.3ms ease-out;
}

a:hover {
  opacity: 0.8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.sec-title {
  font: bolder 3rem/1.1 "Neue Machina", sans-serif;
  color: var(--g1);
}

.icon-btn {
  background: none;
  border: none;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/src/assets/fonts/NeueMachina-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/src/assets/fonts/NeueMachina-Regular.otf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/src/assets/fonts/NeueMachina-UltraBold.otf') format('opentype');
  font-weight: 800; 
  font-style: normal;
}

@media (max-width: 700px) {
  .sec-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 700px) {
  .sec-title {
    font-size: 2rem;
  }
}